
body {
  	margin: 0;
  	line-height: normal;
}


:root {
  	
  	/* Common Style Variables */
  	
  	/* Color */
  	--color-royalblue: #155eef;
  	--color-white: #fff;
		--color-darkslategray-100: #414651;
		--color-darkslategray-200: #252b37;
		--color-ghostwhite: #f5f8ff;
		--color-gray: #181d27;
		--color-royalblue: #155eef;
		
		/* Gap */
		--gap-48: 3rem;
  	
  	/* Font */
  	--font-helvetica-now-display: Helvetica Now Display;
  	--font-inter: Inter;
  	
  	/* WidthHeights */
  	--height-72: 4.5rem;
  	
}
